.meta-infor{
    color:grey;
    margin-top: -10px;
    font-size: 14px;
}
.article{
    max-width: 720px;
    margin: 0 auto;
}
.article-image{
    text-align: center;
}
.title{
    font-size: 52px;
}
p{
    line-height: 1.5em;
    font-size: 21px;
}